/**
* @name LilyPichu
* @author Nyria#3863
* @description A theme based on @Melonturtle_ stream design
* @invite rtBQX5D3bD
* @version 1.0
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {

/* --- User variables --- */

/* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); */
--background-tertiary-alt: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/45cbc7120118525.60abb5b48041b.png);

/* Border-radius for the whole theme */
--border-radius: 20px;

/* Background color of activity cards*/
--playing: #8ea6fc;
--spotify: #5fce86;
--streaming: #9b77da;
--xbox: #53a853;

}

.theme-dark {

    /* Text */
    --text-normal: #ffffff;
    --header-primary: #ffffff;
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #ffffff7c;

    --header-secondary: #ffffff;
    --interactive-hover: #5c406a;
    --interactive-active: #6e008a;

    /* Background color */
    --background-primary: #36393f;
    --background-secondary: #55575c;
    --background-secondary-alt: #55575c;
    --background-tertiary: #2b2b2b;
    --background-floating: #2b2b2b;
    --background-accent: #6e008a;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.32);
    --background-modifier-active: rgba(19, 12, 12, 0.32);
    --background-modifier-selected: rgba(31, 21, 21, 0.32);
    --toast-background: #36393f !important;
    --toast-header: #36393f !important;
    --toast-contents: #36393f !important;
    --toast-border: #36393f !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-ROmMP1 { color: #4f4f4f;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #4f4f4f !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #4f4f4f !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #4f4f4f; border-color: #4f4f4f;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

.theme-light {

    /* Text */
    --text-normal: #a86373;
    --header-primary: #a86373;
    --interactive-normal: #a86373;
    --channels-default: #a86373;

    --text-muted: #a86373;
    --interactive-muted: #cf92a0;

    --header-secondary: #cf92a0;
    --interactive-hover: #be7d8c;
    --interactive-active: #b36f7f;

    /* Background color */
    --background-primary: #FFFFFF;
    --background-secondary: #ffeeee;
    --background-secondary-alt: #fdc7c7;
    --background-tertiary: #ffbbbb;
    --background-floating: #ffbbbb;
    --background-accent: #c5536c;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.062);
    --background-modifier-active: rgba(19, 12, 12, 0.123);
    --background-modifier-selected: rgba(31, 21, 21, 0.11);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

    .colorBrand-ROmMP1 { color: #c5536c;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #c5536c !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #b64a61 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #c5536c; border-color: #c5536c;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}
